@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(255, 240, 245, 0.74);
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  background-image: linear-gradient(rgba(237, 250, 255, 0.375), #2586b046, #2586b0bc);
  cursor: none;
}

:root {
  --color-primary-white: rgb(240, 240, 240);
  --white: white;
  --black: black;
  --box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.whisper-regular {
  font-weight: 300;
}

.cursor {
  z-index: 1000000000;
  pointer-events: none;
}

.cursor__ball {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  z-index: 10000000000;
}

.cursor__ball--big {
  width: 30px;
  height: 30px;
}

.cursor__ball--small {
  width: 10px;
  height: 10px;
}

.cursor__ball svg {
  display: block;
  width: 100%;
  height: 100%;
}

.cursor__ball circle {
  fill: black;
}

.projectinfo::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pro,
.edu,
.aboutinfo {
  transition: opacity 1s ease;
}

.animate {
  opacity: 1;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #1c8da7, #356e86, #0e5869);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
}

#svg {
  height: 31vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
  transform-origin: 50% 50%;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}


/*
.connectHeading {
  opacity: 0;
  transition: opacity 1s;
  animation: slideInuptodown 4s ease-in;
}

@keyframes slideInuptodown {
  from {
      transform: translateY(-30%);
  }
  to {
      transform: translateY(0);
  }
}
*/


button {
  padding: 12px 11px;
  border: transparent;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 5px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  color: white;
  background-color: black;
  text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 1s;
}

button .light {
  position: relative;
  width: 50px;
  height: 150px;
  background-color: rgba(255, 255, 255, 1);
  transform: skew(-20deg) translate(-250px, -75px);
}

button:hover .light {
  background-color: rgba(255, 255, 255, 0.2);
  transform: skew(-20deg) translate(250px, -75px);
  transition: 2s;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  height: 120px;
}

nav h1 {
  font-size: 1.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.8em;
}


.text {
  transition: color 0.3s ease-out;
  font-size: 20px;
  padding-left: 35px;
  padding-right: 35px;
  width: 10rem;
  border-left: 1px solid black;
  text-align: center;
}

.link {
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-decoration: none;
  text-align: start;
  color: inherit;
  display: inline-block;
}

.link-underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  top: auto;
  right: auto;
  bottom: 0%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
  background: linear-gradient(to right, rgb(37, 134, 176), rgba(37, 134, 176, 0.533), rgb(0, 0, 0));
}

.link:hover .link-underline {
  transform: scaleX(1);
  transform-origin: left;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: black;
  cursor: none;
}

.logo {
  z-index: 5;
}

.logo h1 {
  margin-left: 60px;
  font-family: "Whisper", cursive;
  font-size: 70px;
}


.back {
  background: rgba(245, 245, 245, 0.832);
  height: 60px;
  width: 60px;
}


.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-icon {
  display: none;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}


.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#intro {
  display: grid;
  grid-template-columns: [one]55% [two]45%;
  gap: 50px;
  align-items: start;
  justify-content: center;
  padding: 60px 60px 80px 60px;
}

#smallintro {
  display: none;
}

.outercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.innercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  box-shadow: -4px 0px 10px 0px rgba(131, 131, 131, 0.77);
  background-color: #ffffff3d;
  padding: 20px;
}

.innercontainer .smallcontent {
  display: none;
}

.innercontainer {
  border: 1px solid rgba(255, 255, 255, 0.13);
  background-color: #1c8da7;
  background: linear-gradient(to right, #1c8da7, #356e86, #0e5869);
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.innercontainer:hover {
  border: 1px solid rgba(255, 255, 255, 0.27);
  box-shadow: 0 7px 50px 2px rgba(0, 0, 0, 0.296);
  transform: scale(1.015);
  filter: brightness(1);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  margin-bottom: 0px;
}

:root {
  --border: 3px;
  --color1: #d8e9fa;
  --color2: #2586b088;
  --from: 30deg;
  --distance: 46%;
}

.img-wrap {
  position: relative;
  padding: 30px;
  z-index: -1px;
}

.img-wrap::after {
  content: '';
  border-radius: 999px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: conic-gradient(from 30deg,
      #d8e9fa,
      #2586b088 20%,
      transparent 46%);
  -webkit-mask: radial-gradient(farthest-side,
      transparent calc(100% -3px),
      #fff calc(100% - 3px+ 1px));
  mask: radial-gradient(farthest-side,
      transparent calc(100% - 3px),
      #fff calc(100% - 3px + 1px));

}

.img-wrap:hover::after {
  background: conic-gradient(from 30deg,
      #2586b0da,
      #d8e9fa 20%,
      transparent 46%);
  -webkit-mask: radial-gradient(farthest-side,
      transparent calc(100% - 3px),
      #fff calc(100% - 3px + 1px));
  mask: radial-gradient(farthest-side,
      transparent calc(100% - 3px),
      #fff calc(100% - 3px + 1px));
}

.info img {
  border-radius: 999px;
  width: 35vh;
  display: block;
}

.info img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  display: block;
}

#intro {
  z-index: 1;
}


.info img {
  border-radius: 999px;
  display: block;
}


.info h1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.links {
  height: 80px;
  width: 75%;
  background-color: whitesmoke;
  box-shadow: -3px 5px 10px 0px rgba(240, 237, 237, 0.77);
  display: flex;
  align-items: center;
  margin-top: 14px;
  justify-content: space-evenly;
  transform: translateX(50%) translateY(50%);
}

.fab {
  z-index: 12;
}

i:hover {
  transition: ease-in-out 300ms;
  transform: scale(1.2);
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  padding: 10% 0px;
}

.content h1 {
  margin-top: 0rem;
  font-size: 100px;
  margin-bottom: 0;
}

h2,
h3 {
  margin-top: 0;
  font-size: 25px;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


#about {
  display: grid;
  grid-template-columns: [one]90% [two]10%;
  padding-left: 40px;
}

#about p {
  font-family: "Cormorant", serif;
  font-size: 25px;
}

.aboutinfo {
  line-height: 40px;
}

.vertical-line {
  border-right: 1px solid black;
  padding-right: 20px;
}

.vertical-text {
  font-size: 80px;
  padding: 0;
  margin: 0;

}

.smallscreenaboutheading {
  display: none;
  text-align: center;
  font-size: 50px;
  text-decoration: overline;
}

.education_heading {
  font-size: 50px;
  text-decoration: overline;
  padding-left: 30px;
}

#education {
  padding: 10px;
  margin-bottom: 40px;
  border-bottom: 5px solid black;

}

#skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

#skill i {
  font-size: 50px;
}

#project {
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: [one]30% [two]70%;
  gap: 5%;
}

#project h1 {
  font-size: 300px;
  margin: 0;
}

#project .projectinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectinfo .more-button {
  width: 100px;
}


.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  position: absolute;
  object-fit: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card h2 {
  text-align: start;
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 3px solid orange;
  display: block;
}


.card .a1 {
  position: absolute;
  opacity: 0;
  max-width: 100%;
  transition: opacity 0.3s ease-out;
  inset: auto auto 0rem 0;
  text-align: start;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 2px;
  font-weight: 0;
}

#Allproject .card .a1{
  height: 80%;
}

.white {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.card:hover h2 {
  inset: auto auto 16vw 30px;
  transition: inset 0.3s ease-out;
}

#allproject .card:hover h2 {
  inset: auto auto 100vw 30px;
  transition: inset 0.3s ease-out;
}

.card:hover .a1 {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.562);
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
  filter: grayscale(100%);
}

.material-symbols-outlined {
  vertical-align: middle;
}

.pro {
  width: fit-content;
  min-width: 990px;
  background: rgba(252, 252, 255, 0.838);
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 20px 0;
  position: relative;
  display: grid;
  grid-template-columns: [one]100%;
  place-items: center;
  height: 340px;
}


.vertical-text {
  text-decoration: overline;
  writing-mode: vertical-lr;
  white-space: nowrap;
  text-orientation: mixed;
  overflow: hidden;
}

.desc {
  text-align: left;
  padding: 15px;
  padding-bottom: 5px;
  max-width: 500px;
}

.desc p {
  margin: 0;
  font-family: 'Cormorant';
  font-weight: 200;
  color: black;
}

.desc button {
  margin-top: 20px;
}

#education {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 21px;
}

:root {
  --color-text: black;
  --color-front: rgba(252, 252, 255, 0.838);
  --color-back: d8e9fa;
}

.edu {
  width: fit-content;
  padding: 16px 16px;
  background: var(--color-front);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  border-top-left-radius: 20px;
  margin: 20px 20px;
  margin-top: 0px;
  position: relative;
  place-items: center;
  border-radius: 6px;
  clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
  font-weight: 600;
  font-size: 13px;
  color: var(--color-text);
  transition: clip-path 500ms;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.edu:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--color-back);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 500ms;
}

.edu:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.edu:hover:after {
  transform: translate(-100%, -100%);
}

.edu img {
  width: 20vw;
  overflow: hidden;
  float: right;
}


#contact {
  display: grid;
  grid-template-columns: [one]55% [two]45%;
  width: 100%;
}

.contactForm {
  margin: 2rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: [one]15% [two]80%;
}

.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.formGroup input,
textarea {
  height: 2.5rem;
  padding-left: 10px;
  margin-top: 5px;
  font-weight: 300;
  font-size: large;
}

.formGroup label {
  font-size: 20px;
}

.contactlinks {
  height: 100%;
  width: 80%;
  padding: 10px;
  float: right;
  background-color: whitesmoke;
  box-shadow: rgba(240, 237, 237, 0.77) -3px 5px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

:root {
  --d: 2500ms;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box {
  width: fit-content;
  height: 2.8rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
  animation: rotation 3s linear 0s infinite;
  background: linear-gradient(var(--gradient-angle), rgba(168, 239, 255, 1), rgba(168, 239, 255, 0.1));
}

.submitButton {
  width: 95%;
  height: 90%;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 40px;
  font-family: 'Belanosima', sans-serif;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  z-index: 7;
}

.pop-up video {
  width: 60%;
  height: 100%;
  align-items: center;
}

.pop-up span {
  float: right;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: white;
  position: fixed;
  mix-blend-mode: difference;
}

.all-projects-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  padding-top: 4rem;
  padding-right: 20px;
}

.all-projects-popup::-webkit-scrollbar {
  display: none;
}

.all-projects-popup span {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 50px;
  mix-blend-mode: difference;
  color: #fff;
  position: fixed;
  z-index: 8;
}

.all-projects-popup span:hover {
  transition: ease-in-out 300ms;
  transform: scale(1.2);
}

#Allproject .projectinfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

#Allproject .projectinfo .pro {
  width: 600px;
  min-width: 500px;
  opacity: 2;
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: lavenderblush;
  width: 40px;
  height: 45px;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  font-weight: bolder;
  margin: 20px 10px;
  transform: rotate(180deg);
  mix-blend-mode: difference;
  z-index: 5;
}

#more-arrows {
  width: 30px;
  height: max-content;
}

#more-arrows:hover polygon {
  transition: all 0.2s ease-out;
  mix-blend-mode: difference;
}

#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  transition: all 0.2s ease-out;
  fill: #FFF;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}


#signature {
  font-family: "Whisper", cursive;
  position: absolute;
  width: 30%;
}

#signature text {
  stroke-width: 2;
  stroke: black;
  font-size: 200px;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 2.5s ease-in-out forwards;
}



@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

/*
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0);
    stroke: black;
		stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {
    fill: rgba(72,138,20,0); 
    stroke: black; }
	80%  {
    fill: rgba(72,138,20,0); 
    stroke: black; 
  }
	100% {
		fill: black; 
    stroke: rgba(54,95,160,0); 
    stroke-width: 0;
	}
}

*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --scroll-width: 98vw;
  --scroll-height: 18vh;
  --scroll-elements-displayed: 7;
  --scroll-element-width: calc(var(--scroll-width) / var(--scroll-elements-displayed));
  --scroll-animation-duration: calc(var(--scroll-elements) * 4s);
}

.skills-title {
  font-size: 26vh;
  display: inline;
  float: right;
  z-index: 2;
  background: black;
  color: white;
  position: relative;
  margin: 0;
  top: -4.5vh;
  letter-spacing: 7px;
  box-shadow: -63px 0 50px -5px black;
  ;
}

.skills-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 10px;
  background-color: black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.scroll {
  width: var(--scroll-width);
  height: var(--scroll-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.scroll:before,
.scroll:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.scroll:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.scroll:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.scroll-content {
  list-style: none;
  height: 88%;
  display: flex;
  align-items: center;
  animation: scrolling var(--scroll-animation-duration) linear infinite;
}

.scroll-content i {
  mix-blend-mode: difference;
}

@keyframes scrolling {
  0% {
    transform: translateX(90%);
  }

  100% {
    transform: translateX(calc(-1 * var(--scroll-element-width) * var(--scroll-elements)));
  }
}

.scroll-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  width: var(--scroll-element-width);
  max-height: 100%;
  font-size: calc(var(--scroll-height) * 3 / 5);
  white-space: nowrap;
}

.scroll-content li .icon-caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
  display: none;
}

.scroll-content li i:hover {
  transform: none;
}

.scroll-content li:hover .icon-caption {
  display: block;
}

.scroll-content:hover {
  animation-play-state: paused;
}

@media(max-width:1260px) {
  body {
    width: 100%;
    font-size: 16px;
  }

  :root {
    --scroll-width: 100%;
    --scroll-elements-displayed: 3;
    --scroll-element-width: calc(var(--scroll-width) / var(--scroll-elements-displayed));
    --scroll-animation-duration: calc(var(--scroll-elements) * 4s);
    --scroll-height: 18vw;
  }

  ul {
    margin-right: 20px;
  }

  .name-container {
    height: fit-content;
    overflow: hidden;
  }

  .logo-name {
    font-size: 2.5vw;
  }

  .navbar {
    height: fit-content;
    background-color: rgb(245 244 248);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    max-height: 5rem;
  }

  .logo {
    margin-left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
  }

  .logo h1 {
    margin: 20px 20px;
    font-size: calc(10vh * 0.4);
    display: block;
  }

  .nav-menu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 5rem;
    width: 100%;
    height: 1000vw;
    top: 5rem;
    position: fixed;
    background-color: rgb(245 244 248);
  }

  .nav-menu.active {
    z-index: 7;
    visibility: visible;
    transition-delay: 0s;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .nav-links {
    padding: 1.5rem;
    display: block;
  }

  .nav-icon {
    display: block;
    padding-right: 20px;
    font-size: calc(10vh * 0.6);
    z-index: 4;
  }

  #menu-icon {
    width: calc(9vh * 0.6);
  }

  .menu {
    display: flex;
    z-index: 1000000000000000000000;
  }

  .text {
    font-size: 1.5rem;
    text-align: start;
    padding-right: 0px;
  }

  #intro {
    display: none;
  }

  #smallintro {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #1c8da7, #0e5869 50%, transparent 50%);
    padding-top: 6rem;
  }

  .smallcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
  }

  .innercontainer .info,
  #intro .content,
  .outercontainer .links {
    display: none;
  }

  .info img {
    transform: translateX(0);
  }

  #about {
    grid-template-columns: 1fr;
    padding: 0px 20px 0px 20px;
  }

  .aboutinfo {
    line-height: normal;
  }

  .smallscreenaboutheading {
    display: block;
    margin: 33.5px 33.5px;
  }

  .about_heading,
  .education_heading {
    display: none;
  }

  #education {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0px;
    margin-left: 0px;
  }

  .edu{
    width: 70%;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #project .projectinfo {
    gap: 20px;
  }
  #project h1 {
    font-size: 50px;
    margin: 33.5px 33.5px;
  }

  .vertical-text {
    display: none;
  }

  #Allproject .projectinfo .pro ,
  .pro {
    min-width: 90vw;
    padding: auto;
    margin: 2px;
  }


  .card .a1 {
    padding: 2%;
  }

  #Allproject .card .a1{
    height: 80%;
  }

  #Allproject .card:hover h2 {
    inset: auto auto 85% 30px;
    transition: inset 0.3s ease-out;
  }

  .pop-up {
    align-items: center;
  }

  .pop-up video {
    height: auto;
  }

  .vertical-text {
    writing-mode: unset;
  }

  .all-projects-popup {
    padding-right: 0;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    padding: auto;
    width: 80%;
    margin-top: 0;
    padding-top: 0;
  }

  .connectHeading {
    display: none;
  }

  .formGroup input,
  textarea {
    width: 100%;
  }

  .contactlinks {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
  }

  .pop-up {
    width: 100%;
  }

  .pop-up video {
    width: 60%;
  }

  .skills-title {
    display: none;
  }

  .scroll {
    margin: 0px;
  }
}

@media (max-width:600px) {

  .card p,
  .a1 {
    font-size: medium;
  }
  .edu{
    width: 100%;
  }
}
